.d-flex{
    display: flex;
}
.l1{
    background-color:aqua;
    padding: 20px;
    text-align: center;
}
.navbar{
    background-color: rgb(255, 0, 0);
    overflow:hidden;
}   
.navbar ul{
    padding: 10px;
   text-align:center;
}
.navbar li{
    display: inline;
}
.navbar a{
    color: beige;
    text-decoration: none;
    padding: 20px;
    position: relative;
}
.navbar a:hover{
    background-color: white;
    color: black;
}
.col-3{
    float:left;
    width:25%;
    background-image: url('hd3.jpg.jpg');
    padding: 10px;
    text-align: center;
}
.col-6{
    float:right;
    color: white;
    width:50%;
    background-image: url('hd4.jpg.jpg');
    padding: 10px;
    text-align: center;
    margin: 0 5px;
}
.col-3{
    float:right;
    width:25%;
    color: blue;
} 
.container{
    padding: 10px; 
}
.container h3{
    text-align: center;
}
.footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 60px;
  }